In [ ]:
import opendatasets as od
od.download(dataset_id_or_url="https://www.kaggle.com/datasets/aslanahmedov/number-plate-detection",data_dir="C:\\Users\\amith\\Documents\\Datasets\\9 - Automatic Number Plate Recognition using ResNet and CNN")

In [121]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import xml.etree.ElementTree as et
import os
import cv2
import tensorflow as tf

In [122]:
img_list_path = "C:\\Users\\amith\\Documents\\Datasets\\9 - Automatic Number Plate Recognition using ResNet and CNN\\number-plate-detection\\images"


xml_list = list(map(lambda x: x if ".xml" in x else None, os.listdir(img_list_path)))

while None in xml_list:
    xml_list.remove(None)


img_list = list(map(lambda x: x[:x.index(".")] + ".jpeg",xml_list))
img_num = list(map(lambda x: int(x[x.index("N")+1:x.index(".")]),xml_list))

df = pd.DataFrame(columns=["Image List","XML List","Image Number"])
df["Image List"] = img_list
df["XML List"] = xml_list
df["Image Number"] = img_num

df = df.sort_values(by="Image Number").reset_index(drop=True)

In [123]:
df.head()

  Image List XML List  Image Number
0    N1.jpeg   N1.xml             1
1    N2.jpeg   N2.xml             2
2    N3.jpeg   N3.xml             3
3    N4.jpeg   N4.xml             4
4    N5.jpeg   N5.xml             5

In [124]:
df_1 = pd.DataFrame(columns=["x_min","y_min","x_max","y_max"])

img = []
img_resized = []

for i in range(df.shape[0]):   
    img_full_path = img_list_path + "\\" + df.loc[i,"Image List"]
    xml_full_path = img_list_path + "\\" + df.loc[i,"XML List"]

    img_full = cv2.imread(img_full_path)
    img_resized_1 = cv2.resize(src=img_full,dsize=(128,128)) / 255.0
    img_rescaled = img_full / 255.0
    img_resized.append(img_resized_1)

    img.append(img_rescaled)

    xml_tree = et.parse(xml_full_path)
    xml_root = xml_tree.getroot()

    size = xml_root.find("size")

    height = int(size.find("height").text)
    width = int(size.find("width").text)

    object = xml_root.find("object")
    bndbox = object.find("bndbox")

    x_min = int(bndbox.find("xmin").text)
    y_min = int(bndbox.find("ymin").text)
    x_max = int(bndbox.find("xmax").text)
    y_max = int(bndbox.find("ymax").text)

    df_1.loc[i,"x_min"] = x_min / width
    df_1.loc[i,"y_min"] = y_min / height
    df_1.loc[i,"x_max"] = x_max / width
    df_1.loc[i,"y_max"] = y_max / height

img_resized = np.array(img_resized)

In [125]:
img_resized.shape

(225, 128, 128, 3)

In [126]:
df_1.head()

      x_min     y_min     x_max     y_max
0  0.569271  0.597222  0.727083  0.673148
1  0.579692  0.741026  0.801093  0.804274
2  0.078326  0.545064   0.27897  0.660944
3  0.363886  0.602717  0.502195  0.661589
4  0.488542  0.656481  0.610938  0.705556

In [129]:
model = tf.keras.models.Sequential(layers=[

    tf.keras.layers.Conv2D(filters=8,kernel_size=(3,3),activation="relu",input_shape=(128,128,1)),
    tf.keras.layers.Conv2D(filters=16,kernel_size=(3,3),activation="relu"),
    tf.keras.layers.Conv2D(filters=32,kernel_size=(3,3),activation="relu"),
    tf.keras.layers.Conv2D(filters=64,kernel_size=(3,3),activation="relu"),
    tf.keras.layers.Conv2D(filters=64,kernel_size=(3,3),activation="relu"),

    tf.keras.layers.Flatten(),

    tf.keras.layers.Dense(units=64,activation="relu"),
    tf.keras.layers.Dense(units=4,activation="softmax")
])

In [ ]:
model.compile()