In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
deliveries = pd.read_csv("deliveries.csv")
matches = pd.read_csv("matches.csv")

In [50]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [143]:
matches.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [142]:
df.loc[1,]

                         batting_team                 bowling_team  total_runs
match_id
1         Royal Challengers Bangalore          Sunrisers Hyderabad         172
1                 Sunrisers Hyderabad  Royal Challengers Bangalore         207

In [154]:
df = deliveries.groupby(by=["match_id","batting_team","bowling_team"])["total_runs"].sum()
df = pd.DataFrame(df).reset_index().set_index("match_id")


scores = pd.DataFrame(columns=["match_id","Teams","Toss Winner","Toss Decision","Team 1","Team 2","Team 1 Score","Team 2 Score"])
team_scores = {}
ctr = 0
for i in df.index.unique():
    teams = df.loc[i,"batting_team"].values
    toss_winner = matches[matches["id"]==i]["toss_winner"].values[0]
    choice = matches[matches["id"]==i]["toss_decision"].values[0]
    #print("Toss Winning Team : ",toss_winner)
    #print("Choice of",toss_winner,":",choice)

    position_of_toss_winner = np.where(teams == toss_winner)[0][0]
    toss_win = teams[position_of_toss_winner]

    if toss_winner == teams[0]:
        if choice == "bat":
            first_batting_team = teams[0]
        elif choice == "field":
            first_batting_team = teams[1]
    else:
        if choice == "bat":
            first_batting_team = teams[1]
        elif choice == "field":
            first_batting_team = teams[0]
    second_batting_team = teams[1-np.where(teams==first_batting_team)[0][0]]
    p = teams[0] + " vs " + teams[1]
    scores.loc[ctr,"match_id"] = i
    scores.loc[ctr,"Teams"] = p
    scores.loc[ctr,"Team 1"] = first_batting_team
    scores.loc[ctr,"Team 2"] = second_batting_team
    particular_match = df.loc[i,]
    scores.loc[ctr,"Team 1 Score"] = particular_match[particular_match["batting_team"]==first_batting_team]["total_runs"].values[0]
    scores.loc[ctr,"Team 2 Score"] = particular_match[particular_match["batting_team"]==second_batting_team]["total_runs"].values[0]
    scores.loc[ctr,"Toss Winner"] = toss_winner
    scores.loc[ctr,"Toss Decision"] = choice
    #print(p)
    ctr += 1
    #break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300

AttributeError: 'str' object has no attribute 'values'

In [158]:
print(i)

301

In [160]:
df.loc[298:303,:]

                         batting_team                 bowling_team  total_runs
match_id
298             Kolkata Knight Riders                Pune Warriors         119
298                     Pune Warriors        Kolkata Knight Riders         118
299                    Mumbai Indians             Rajasthan Royals         133
299                  Rajasthan Royals               Mumbai Indians         134
300                   Deccan Chargers              Kings XI Punjab         198
300                   Kings XI Punjab              Deccan Chargers         116
301                  Delhi Daredevils                Pune Warriors          56
302               Chennai Super Kings  Royal Challengers Bangalore         128
302       Royal Challengers Bangalore          Chennai Super Kings         129
303             Kolkata Knight Riders               Mumbai Indians         175
303                    Mumbai Indians        Kolkata Knight Riders         178

In [147]:
scores

,match_id,Teams,Toss Winner,Toss Decision,Team 1,Team 2,Team 1 Score,Team 2 Score
0,1,Royal Challengers Bangalore vs Sunrisers Hyder...,Royal Challengers Bangalore,field,Sunrisers Hyderabad,Royal Challengers Bangalore,207,172

In [121]:
scores.head()

,match_id,batting_team,bowling_team,total_runs
0,1,Royal Challengers Bangalore,Sunrisers Hyderabad,172
1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,207
2,2,Mumbai Indians,Rising Pune Supergiant,184
3,2,Rising Pune Supergiant,Mumbai Indians,187
4,3,Gujarat Lions,Kolkata Knight Riders,183

In [98]:
matches.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [96]:
df.head()

                         batting_team                 bowling_team  total_runs
match_id
1         Royal Challengers Bangalore          Sunrisers Hyderabad         172
1                 Sunrisers Hyderabad  Royal Challengers Bangalore         207
2                      Mumbai Indians       Rising Pune Supergiant         184
2              Rising Pune Supergiant               Mumbai Indians         187
3                       Gujarat Lions        Kolkata Knight Riders         183