In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import *
import tensorflow as tf
import warnings
warnings.filterwarnings("ignore")
from datetime import *

In [2]:
df = pd.read_csv("ETH_1H.csv")
df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622

In [3]:
df.dtypes

Unix Timestamp      int64
Date               object
Symbol             object
Open              float64
High              float64
Low               float64
Close             float64
Volume            float64
dtype: object

In [4]:
df["Symbol"].unique()

array(['ETHUSD'], dtype=object)

In [9]:
df_1 = df.drop(columns=["Symbol"])

In [10]:
df_1.isna().sum()

Unix Timestamp    0
Date              0
Open              0
High              0
Low               0
Close             0
Volume            0
dtype: int64

In [11]:
df_1.duplicated().sum()

0

In [12]:
df_1.head()

,Unix Timestamp,Date,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,157.10,158.10,156.87,158.04,144.262622

In [37]:
df_2 = df_1.copy()
df_2["Unix Timestamp"] = pd.to_datetime(df_1["Date"])
df_2.drop(columns=["Unix Timestamp"],inplace=True)
df_2.set_index(keys="Date",inplace=True)
df_2.sort_index(axis=0,inplace=True)
df_2

                       Open    High     Low   Close       Volume
Date
2016-05-09 13:00:00    0.00   12.00    0.00    9.55   432.562115
2016-05-09 14:00:00    9.55   10.00    9.55   10.00   235.774075
2016-05-09 15:00:00   10.00   10.00    9.99    9.99    10.973567
2016-05-09 16:00:00    9.99    9.99    9.79    9.83    62.379450
2016-05-09 17:00:00    9.83    9.83    9.48    9.49   329.553213
...                     ...     ...     ...     ...          ...
2020-04-15 20:00:00  157.10  158.10  156.87  158.04   144.262622
2020-04-15 21:00:00  158.04  158.31  157.16  157.18    55.244131
2020-04-15 22:00:00  157.18  157.30  155.32  155.81   106.337279
2020-04-15 23:00:00  155.81  155.81  151.39  152.94  4277.567299
2020-04-16 00:00:00  152.94  152.94  150.39  150.39   650.188125

[34497 rows x 5 columns]

In [ ]:
for i in df_2:
    sns.lineplot(data=df_2[i])