In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("ETH_1H.csv")
df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622

In [8]:
len(df)

34497

In [9]:
df.nunique()

Unix Timestamp    34497
Date              34497
Symbol                1
Open              20189
High              19276
Low               19259
Close             20189
Volume            31404
dtype: int64

In [10]:
df_1 = df.drop(columns=["Symbol","Unix Timestamp"])
df_1.head()

                  Date    Open    High     Low   Close       Volume
0  2020-04-16 00:00:00  152.94  152.94  150.39  150.39   650.188125
1  2020-04-15 23:00:00  155.81  155.81  151.39  152.94  4277.567299
2  2020-04-15 22:00:00  157.18  157.30  155.32  155.81   106.337279
3  2020-04-15 21:00:00  158.04  158.31  157.16  157.18    55.244131
4  2020-04-15 20:00:00  157.10  158.10  156.87  158.04   144.262622

In [11]:
df_2 = df_1.copy()
df_2["Date"] = pd.to_datetime(df_2["Date"])
df_2["Date"] = df_2["Date"].dt.date
grp = df_2.groupby(by="Date").groups
df_3 = pd.DataFrame(columns=df_2.columns)
ctr = 0
for i in grp:
    date_org = i
    date_indices = grp[i]
    df_3.loc[ctr]
    ctr += 1

In [12]:
df_3

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []