In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import *
from sklearn.model_selection import *
import tensorflow as tf

### Reading the dataset

In [4]:
df_1 = pd.read_csv("train1.csv")
df_2 = pd.read_csv("train2.csv")
df_3 = pd.read_csv("train3.csv")
df = pd.concat([df_1,df_2,df_3],axis=1)
df.head()

,MEAN_RR,MEDIAN_RR,SDRR,RMSSD,SDSD,SDRR_RMSSD,HR,pNN25,pNN50,SD1,...,HF,HF_PCT,HF_NU,TP,LF_HF,HF_LF,sampen,higuci,datasetId,condition
0,885.157845,853.763730,140.972741,15.554505,15.553371,9.063146,69.499952,11.133333,0.533333,11.001565,...,15.522602,0.421047,1.514737,3686.666157,65.018055,0.015380,2.139754,1.163485,2,0
1,939.425371,948.357865,81.317742,12.964439,12.964195,6.272369,64.363150,5.600000,0.000000,9.170129,...,2.108525,0.070133,0.304603,3006.487251,327.296635,0.003055,2.174499,1.084711,2,1
2,898.186047,907.006860,84.497236,16.305279,16.305274,5.182201,67.450066,13.066667,0.200000,11.533417,...,13.769729,0.512671,1.049528,2685.879461,94.280910,0.010607,2.135350,1.176315,2,1
3,881.757864,893.460030,90.370537,15.720468,15.720068,5.748591,68.809562,11.800000,0.133333,11.119476,...,18.181913,0.529387,1.775294,3434.520980,55.328701,0.018074,2.178341,1.179688,2,0
4,809.625331,811.184865,62.766242,19.213819,19.213657,3.266724,74.565728,20.200000,0.200000,13.590641,...,48.215822,1.839473,3.279993,2621.175204,29.487873,0.033912,2.221121,1.249612,2,0

In [5]:
df_X = df.drop(columns=["condition"])
df_y = df["condition"]

In [6]:
important_features = ["MEAN_RR","RMSSD","pNN25", "pNN50", "LF", "HF", "LF_HF"]
df_X_1 = df_X[important_features]
df_y_1 = df_y.copy()

In [7]:
df_X_1.head()

,MEAN_RR,RMSSD,pNN25,pNN50,LF,HF,LF_HF
0,885.157845,15.554505,11.133333,0.533333,1009.249419,15.522602,65.018055
1,939.425371,12.964439,5.600000,0.000000,690.113275,2.108525,327.296635
2,898.186047,16.305279,13.066667,0.200000,1298.222619,13.769729,94.280910
3,881.757864,15.720468,11.800000,0.133333,1005.981659,18.181913,55.328701
4,809.625331,19.213819,20.200000,0.200000,1421.782051,48.215822,29.487873

In [8]:
df_X_1["MEAN_RR"].max(), df_X_1["MEAN_RR"].min()

(1322.016957, 547.4922213)

In [9]:
df_X_1["RMSSD"].max(), df_X_1["RMSSD"].min()

(26.62947663, 5.529742166)

In [10]:
sc = StandardScaler()
X = pd.DataFrame(sc.fit_transform(df_X_1),columns=df_X_1.columns)
y = df_y_1.copy()

In [11]:
y.unique()

array([0, 1, 2], dtype=int64)

### Testing the model

In [12]:
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.2,random_state=np.random.randint(0,1000))
X_train.shape

(295431, 7)

In [14]:
model = tf.keras.models.Sequential(layers=[
    tf.keras.layers.Dense(units=64, activation="relu", input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(units=32, activation="relu"),
    tf.keras.layers.Dense(units=16, activation="relu"),
    tf.keras.layers.Dense(units=8, activation="relu"),
    tf.keras.layers.Dense(units=1, activation=""),
])

WARNING:tensorflow:From C:\Users\amith\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [23]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\amith\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [ ]:
model_history = model.fit(x=X_train,y=y_train,epochs=100,batch_size=32,verbose=1,validation_data=(X_val,y_val),shuffle=True,callbacks=tf.keras.callbacks.EarlyStopping(patience=2))

Epoch 1/100
4061/9233 [============>.................] - ETA: 8s - loss: nan - accuracy: 0.5428